.page-header__menu {
  a {
    &::after {
      transition-property: color, width, background-color;
      transition-duration: 0.5s;
      transition-timing-function: ease-out;
      display: block;
      width: 0;
      right: 0;
      left: auto;
    }

    &:hover,
    &:focus {
      &::after {
        width: 100%;
        left: 0;
        right: auto;
      }
    }
  }
}

.social-block {
  pointer-events: none;

  .social-block__link {
    opacity: 0;
    transition-duration: 0s;
    transition-property: transform, opacity;
    transition-timing-function: ease-out;
    transform: translateY(0.5rem);
  }

  &:hover {
    .social-block__list {
      opacity: 1;

      .social-block__link {
        transition-duration: 0.5s;
        opacity: 1;
        transform: translateY(0);

        &--fb {
          transition-delay: 0s;
        }

        &--insta {
          transition-delay: 0.2s;
        }

        &--vk {
          transition-delay: 0.4s;
        }
      }
    }
  }
}

.social-block__toggler {
  pointer-events: auto;

  &::before {
    transition: all 0.3s ease;
  }

  &:hover {
    color: $c-dark;

    &::before {
      transform: translate(-50%, -50%) scale(1.125);
      background-color: $c-light;
    }
  }
}

.social-block--active {
  .social-block__toggler {
    color: $c-light;

    &::before {
      background-color: $c-purple;
      border-color: $c-purple;
      transform: translate(-50%, -50%) scale(1);

      width: 100%;
      height: 100%;
    }

    &:hover {
      color: $c-purple;

      &::before {
        transform: translate(-50%, -50%) scale(1.125);
        width: 100%;
        height: 100%;
        background-color: $c-light;
        border-color: $c-light;
      }
    }
  }
}

.intro__message {
  opacity: 0;
  transform: translateY(2rem);
  transition:
    opacity 0.3s ease-in,
    transform 0.3s ease-in;
}

.screen.active {
  .intro__message {
    transition-delay: 1s;
    transform: translateY(0);
    opacity: 1;
  }
}


.swiper-slide {
  .slider__item-text {
    opacity: 0;
    transform: translateX(3rem);
    transition-property: opacity, transform;
    transition-timing-function: ease;
  }
}

.screen.active {
  .swiper-slide-active {
    .slider__item-text {
      transform: translateY(0);
      opacity: 1;
      transition-delay: 0.3s;
      transition-duration: 0.3s;
    }
  }

  .swiper-slide-next {
    .slider__item-text {
      transform: translateY(0);
      opacity: 1;
      transition-delay: 0.5s;
      transition-duration: 0.5s;
    }
  }
}

.form {
  justify-content: flex-end;

  .form__button {
    flex-grow: 0;
  }
}

.screen:not(.active) {
  .form__field {
    width: 0;
    padding: 0;
  }
}

.screen.active {
  .form__field {
    transition:
      width 0.5s ease 0.2s,
      padding 0.5s ease 0.2s;
  }
}

.page-header__logo,
 .screen__footer,
 .page-header__nav {
  transition-timing-function: cubic-bezier(0.12, 0.24, 0.05, 0.95);
  transition-duration: 1s;
}

.page-header__logo {
  transform: translateX(-4rem);
  opacity: 0;
  transition-property: transform, opacity;
  transition-delay: 0.2s;
}

.screen__footer {
  transform: translateY(100%);
  transition-property: transform;
  transition-delay: 0s;
}

.page-header__nav {
  opacity: 0;
  transition-property: opacity;
  transition-delay: 0.4s;
}

.social-block__toggler {
  &::before {
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s cubic-bezier(.06,.68,.59,1.56) 0.7s;
  }
}

body.loaded {
  .page-header__menu {
    a.active {
      &::after {
        transition: width 0.4s ease 0.5s;
        width: 100%;
        right: auto;
        left: 0;
      }
    }
  }

  .page-header__logo {
    transform: translateX(0);
    opacity: 1;
  }

  .screen__footer {
    transform: translateY(0);
  }

  .page-header__nav {
    opacity: 1;
  }

  .social-block__toggler {
    &::before {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
